@keyframes arrow {

  from {
    inset-inline-start: -24px;
  }

  to {
    inset-inline-start: -20px;
  }

}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s linear;
} 

.card__icon-button:hover .main-body{
  fill: var(--heart-contour, #000);
  transition-delay: 0s;  
}

.card__icon-button:active .main-body{
  fill: var(--heart-fill, #ff0000);
  transition-delay: 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core{
  fill: var(--heart-contour, #000);
  transition-delay: 0.03s;
}

.card__icon-button:active .core{
  fill: var(--heart-fill, #ff0000);
  transition-delay: 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .main-body,
.like-icon.is-liked .core {
  fill: var(--heart-fill, #ff0000);
}

.contour {
  transition: fill 0.1s ease-in;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill, #ff0000);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s 0.1s ease-in alternate;
}


@keyframes heart {

  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }

}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

@keyframes sparks {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}